body {
  font-family: 'Space Grotesk', sans-serif;
  --color-text: #fff;
  --color-bg: #504f4f;
  --color-link: #666;
  --color-link-hover: #fff;
  --color-top-right: #222;
  --color-bottom-left: #000;
}

/*canvas {*/
  /*position: absolute;*/
/*  z-index: 0;
  width: 100%;
  height: 100%;*/
/*}*/
.myheader {
  z-index: 1;
  color: #fff;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.icon-list {
  padding-left: 0;
  list-style: none;
}
.icon-list li {
  display: flex;
  align-items: flex-start;
  margin-bottom: .25rem;
}
.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}


.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #fff;
  border-radius: 4px;
}


a {
  color: #303030;
  text-decoration: none;
}

.btn-primary {
  /*background-color: #F5007F;*/
  border-color: rgba(255,255,255,0);
  background: rgb(255,96,88);
  background: linear-gradient(45deg, rgba(255,96,88,1) 0%, rgba(217,0,112,1) 100%);
}

.btn-primary:hover {
  border-color: rgba(255,255,255,0);
  background: rgb(255,96,88);
  background: linear-gradient(45deg, rgba(255,96,88,1) 0%, rgba(255,96,88,1) 100%);
}

.bg-gradient-orange {
  background: rgb(255,96,88);
  background: linear-gradient(45deg, rgba(255,96,88,1) 0%, rgba(255,96,88,1) 100%);
}

.loader {
  background: linear-gradient(-135deg, var(--color-top-right), var(--color-bottom-left));
  top: 0;*/
  transition: opacity 600ms;
}

.bg-dark {
  background-color: #000000 !important;
  color: white;
}

.btn-outline-primary {
  color: rgb(255,96,88);
  border-color: rgb(255,96,88);
  border-color: linear-gradient(45deg, rgba(255,96,88,1) 0%, rgba(217,0,112,1) 100%);
}

.btn-outline-primary:hover {
  border-color: rgb(255,255,255,0);
  background: rgb(255,96,88);
  background: linear-gradient(45deg, rgba(255,96,88,1) 0%, rgba(255,96,88,1) 100%);
}

  .header-links {
    display:inline-block; float: right;
  }

  .loader {
     cursor: -webkit-grab; cursor: grab;
  }

@media only screen and (max-width: 768px) {
  html {
    width: 100vw !important;
  }
  .logo-header {
    text-align: center;
  }
  .header-links {
    display: block;
    margin-top:  16px;
     float: none;
  }
  .mobile-mt-16 {
    margin-top:  16px;
  }
  .mobile-center {
    text-align: center;
  }
  .mobile-p-32 {
    padding: 32px !important;
  }
}
